/* App.css */
body {
  background-image: url("/bg.jpg"); /* Leading slash is important */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
